@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    <div id="startConnectionContainer">
        <div class="row p-1">
                <div class="col-1">Access Token</div>
                <div class="col-5"><input type="text" id="accessToken"/></div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    <input type="button" id="startConnectionButton" value="Start Connection"/>
                </div>
            </div>
    </div>
    <div id="sessionContainer">
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput"/></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButton" value="Send Message"/>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr/>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
</body>
</html>