<!DOCTYPE html>

<html>
<head>
    <title>Notification</title>
</head>
<body>
<div>
  <b>Welcome to the Notification</b>
  <textarea id="currentToken"></textarea> 
</div>
<script type="module">
  // // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
  import { getToken, getMessaging, onMessage } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-messaging.js'
  // import { onBackgroundMessage } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-messaging-sw.js'
  // // TODO: Add SDKs for Firebase products that you want to use
  // // https://firebase.google.com/docs/web/setup#available-libraries
  
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyCCAnJUTrtKmZQ8a0DhucxuaqW5eVU4XaM",
    authDomain: "nightowlenterprise-7a6c9.firebaseapp.com",
    projectId: "nightowlenterprise-7a6c9",
    storageBucket: "nightowlenterprise-7a6c9.appspot.com",
    messagingSenderId: "864372115977",
    appId: "1:864372115977:web:03418a0ab80ba32b2d86d8"
  };
  
  // Initialize Firebase
  const firebaseApp  = initializeApp(firebaseConfig);
  // console.log(firebaseApp );
  //
  // Retrieve an instance of Firebase Messaging so that it can handle background
  // messages.
  const messaging = getMessaging(firebaseApp);
  
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      console.log('Sayfa tamamen yüklendi.');
      navigator.serviceWorker.register('/firebase-messaging-sw.js')
        .then((registration) => {
          console.log('Service Worker registered:', registration);                 
          
          // Add the public key generated from the console here. 
          // getToken(messaging, {vapidKey: "BKagOny0KF_2pCJQ3m....moL0ewzQ8rZu"}); 
          getToken(messaging, {
            serviceWorkerRegistration: registration,
            vapidKey: 'BG8ZPBU7X7lnasY_Tm-VISROjf6K_u84baTYN705IureHKjj2LfaxkzFDPWAg91f5fC-BaGJg8mkeyDEbr3aaL4' }).then((currentToken) => { 
            if (currentToken) { 
              console.log("currentToken -> " + currentToken);
              document.getElementById("currentToken").value = currentToken;
              // Send the token to your server and update the UI if necessary 
              // ... 
            } else { 
              // Show permission request UI 
              console.log('No registration token available. Request permission to generate one.'); 
              // ... 
            } 
          }).catch((err) => { 
            console.log('An error occurred while retrieving token. ', err); 
            // ... 
          }); 
          
        }).catch((err) => {
          console.error('Service Worker registration failed:', err);
        });
    });
  }
  
  

  onMessage(messaging, (payload) => {
    console.log('Message received. ', payload);
    var notif = payload.notification;
    
    console.log(notif);
     
    // ...
   window.ServiceWorkerRegistration.showNotification(notif.title, {
        body: notif.body,
        icon: notif.image,
        data: {
            url: notif.click_action
        }
    });
  });
  
  Notification.requestPermission().then(function(permission) {
    if (permission === 'granted') {
      console.log('Notification permission granted.');
    } else {
      console.log('Unable to get permission to notify.');
    }
  });
  
</script>

@*   <script type="module"> *@
@*     import { initializeApp  } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js' *@
@*     // import { auth } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js' *@
@*     import { getMessaging, getToken  } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-messaging.js' *@
@*      *@
@*     // TODO: Replace the following with your app's Firebase project configuration *@
@*     const firebaseConfig = { *@
@*       //... *@
@*     }; *@
@*      *@
@*     // Initialize Firebase *@
@*     const app = initializeApp(firebaseConfig); *@
@*      *@
@*     // Initialize Firebase Cloud Messaging and get a reference to the service *@
@*     const messaging = getMessaging(app); *@
@*      *@
@*     // Add the public key generated from the console here. *@
@*     // getToken(messaging, {vapidKey: "BKagOny0KF_2pCJQ3m....moL0ewzQ8rZu"}); *@
@*     getToken(messaging, { vapidKey: '<YOUR_PUBLIC_VAPID_KEY_HERE>' }).then((currentToken) => { *@
@*       if (currentToken) { *@
@*         // Send the token to your server and update the UI if necessary *@
@*         // ... *@
@*       } else { *@
@*         // Show permission request UI *@
@*         console.log('No registration token available. Request permission to generate one.'); *@
@*         // ... *@
@*       } *@
@*     }).catch((err) => { *@
@*       console.log('An error occurred while retrieving token. ', err); *@
@*       // ... *@
@*     }); *@
@*      *@
@*     function requestPermission() { *@
@*       console.log('Requesting permission...'); *@
@*       Notification.requestPermission().then((permission) => { *@
@*         if (permission === 'granted') { *@
@*           console.log('Notification permission granted.'); *@
@*           } *@
@*         }); *@
@*     } *@
@*      *@
@*   </script> *@
</body>
</html>